---
import Layout from "../layouts/Layout.astro";
import ToggleTheme from "../components/ToggleTheme";
import Background from "../components/Background.astro";
---



<Layout title="Welcome to Astro.">
    <Background />
    <main class="h-screen grid" >
        <div id="square-container" class="fixed w-full"></div>
        <article class="prose place-self-center dark:prose-invert p-8 md:w-1/2">
        <ToggleTheme client:load />
            <h3>Hello, I'm Mahie, A student currently studying Computer Science.</h3>
            <p>
                I have strong background with Python and recently took to learning Rust to achieve fast and stable code.
                <b>This site is currently under construction</b> but have a look around.
            </p>
        </article>
    </main>
    
</Layout>
