{% extends "base.html" %}
{% block head %}<title>Shino - Home</title>{% endblock %}
{% block body %}
    <main class="h-screen grid">
        <div id="square-container" class="fixed w-full"></div>
        <article class="prose place-self-center dark:prose-invert p-8 md:w-1/2">
            <label class"relative cursor-pointer rounded-full">
                <input type="checkbox"
                       class="opacity-0 absolute w-0 h-0"
                       tabindex="0"
                       onchange="switchTheme(this)" />
                <span class="border-current border-4 bg-current text-black rounded-l-full h-2 relative w-16 inline-block "></span><span class="border-current border-4 bg-current text-white rounded-r-full h-2 relative bg-white w-16 inline-block"></span>
            </label>
            <h3>Hello, I'm Mahie, A student currently studying Computer Science.</h3>
            <p>
                I have strong background with Python and recently took to learning Rust to achieve fast and stable code.
                <b>This site is currently under construction</b> but have a look around.
            </p>
            <nav class="justify-self-center flex justify-around">
                <a href="/">
                    <h3>Home</h3>
                </a>
                <a href="/blog">
                    <h3>Blog</h3>
                </a>
                <a>
                    <h3>Placeholder</h3>
                </a>
            </nav>
        </div>
        <script defer>
            const isLight = () => document.documentElement.classList.contains("light");
            // will overwrite the <html> classes
            const switchTheme = (checkbox) => document.documentElement.className = localStorage.theme = isLight() ? "dark" : "light";
            const isMobile = () => Math.min(window.screen.width, window.screen.height) < 768;
            window.setInterval(x => {
                if (!document.hasFocus() || isMobile()) return;
                let container = document.getElementById('square-container');
                let square = document.createElement("div");
                square.classList = "h-[2vh] w-[2vh] animate-up-square absolute dark:bg-white bg-black"
                square.style.left = 20 * Math.random() + 80 * Math.floor(2 * Math.random()) + "%";
                square.style.animationDuration = 6 + Math.random() * 2 + "s";
                square.onanimationend = (self) => {
                    self.target.remove()
                };
                container.appendChild(square);
            }, 200);
        </script>
    </main>
{% endblock %}
