<!DOCTYPE html>
<html lang="en" class={% if dark %} "dark" {% else %} "light" {% endif %}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ortin</title>
        <link href="/static/output.css" rel="stylesheet" />
        <style>
            .square {
                height: 2vh;
                width: 2vh;
            }

            canvas {
                image-rendering: pixelated;
            }
        </style>
    </head>
    <body class="h-screen grid dark:bg-black">
        <div id="square-container" class="fixed w-full"></div>
        <main class="prose place-self-center dark:prose-invert p-8 md:w-1/2">
            <label class"relative cursor-pointer rounded-full">
                <input type="checkbox"
                       class="opacity-0 absolute w-0 h-0"
                       tabindex="0"
                       onchange="switchTheme(this)" />
                <span class="border-current border-4 bg-current text-black rounded-l-full h-2 relative w-16 inline-block "></span><span class="border-current border-4 bg-current text-white rounded-r-full h-2 relative bg-white w-16 inline-block"></span>
            </label>
            <h3>Hello, I'm Mahie, A student currently studying Computer Science.</h3>
            <p>
                I have strong background with Python and recently took to learning Rust to achieve fast and stable code.
                <b>This site is currently under construction</b> but have a look around.
            </p>
            <nav class="justify-self-center flex justify-around">
                <a href="/">
                    <h3>Home</h3>
                </a>
                <a href="/blog">
                    <h3>Blog</h3>
                </a>
                <a>
                    <h3>Placeholder</h3>
                </a>
            </nav>
        </main>
        <script defer>
            const isLight = () => document.documentElement.classList.contains("light");
            // will overwrite the <html> classes
            const switchTheme = (checkbox) => document.documentElement.className = isLight() ? "dark" : "light";
            window.setInterval(x => {
                if ( /* !document.hasFocus() || */ Math.min(window.screen.width, window.screen.height) < 768) return;
                let container = document.getElementById('square-container');
                let square = document.createElement("div");
                square.classList = "square animate-up-square absolute dark:bg-white bg-black"
                square.style.left = 20 * Math.random() + 80 * Math.floor(2 * Math.random()) + "%";
                square.style.animationDuration = 6 + Math.random() * 2 + "s";
                square.onanimationend = (self) => {
                    self.target.remove()
                };
                container.appendChild(square);
            }, 200);
        </script>
    </body>
</html>
